.item-details-wrapper {
    position: fixed;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    margin: 1rem;
    width: 40rem;
    max-width: 95%;
    height: 40rem;
    max-height: 95%;


    text-align: left;
    transition: color 0.3s ease;

    overflow: hidden;
}

.item-details-image-wrapper {
    background-color: lightgrey;
    height: 20rem;
    max-height: fit-content;
    overflow: hidden;
}

.item-details-image {
    width: 100%;
}

.item-details-info-wrapper {
    display: flex;
    flex-direction: column;
    height:200px;

    padding: 1rem;
}

.item-details-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.item-details-price {
    font-size: 1.2rem;
}

.item-details-tags {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
}

.item-details-tag {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0.25rem;
    border: 1px solid black;
    border-radius: 5em;
}

.item-details-contact {
    padding: 1rem;
    background-color: orange;
    color: black;

    text-align: center;
    align-content: center;
    width: 10rem;
    border-radius: 1em;

    cursor: pointer;
    text-decoration: none;
}

.item-details-footer {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: -webkit-fill-available;

    margin: 1rem;
}

.item-details-seller-info {
    text-align: left;
    align-content: center;
    width: -webkit-fill-available;
}

.item-details-exit {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    color: white;
}