.message-bubble {
    display: block;
    margin-bottom: 10px;
  }
  
  .message-bubble p {
    display: inline-block;
    margin: 5px;
  }
  
  .message-bubble.sent {
    text-align: right;
  }
  
  .message-bubble.sent p {
    background-color: darkgrey;
    color: white;
    border-radius: 15px;
    padding: 10px;
  }
  
  .message-bubble.received {
    text-align: left;
  }
  
  .message-bubble.received p {
    background-color: #E5E5EA;
    border-radius: 15px;
    padding: 10px;
  }

  .message-container {
    height: 600px; 
    overflow-y: auto;
  }