.App {
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0; 
  padding: 10px 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.search-icon {
  margin-right: 40px;
}

.content {
  margin-top: 70px;
  position: relative;
}

.menu-icon, .search-icon {
  cursor: pointer;
}

.menu-icon:hover, .search-icon:hover {
  color: #007bff; 
}

.logo-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.items-wrapper {
  display: flex;
  background-color: white;
  margin: 1rem;
  flex-wrap: wrap;
}

.item-wrapper {
  background-color: lightgrey;
  border-radius: 1em;

  padding: 1rem;
  margin: 1rem;
  width: 20rem;
}

.footer {
  background-color: lightgray;
  padding: 1.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-icons {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  margin-right: 50px;
}

.footer-icons a {
  margin: 0 10px;
  color: white;
}

.footer-icons a svg {
  font-size: 24px;
}