.App {
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0; 
  padding: 10px 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.content {
  position: relative;
  margin-top: 60px;
  margin-bottom: 80px;
  font-family: 'Arial', sans-serif;
}

.menu-icon, .filter-icon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.filter-icon {
  margin-right: 40px;
}

.menu-icon:hover, .filter-icon:hover {
  color: lightgrey; 
}

.logo-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.listings {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-left: 40px;
  margin-top: 80px;
  margin-right: 40px;
}

.filters-wrapper {
  position: absolute;
  top: 10px; 
  right: 20px; 
  background-color: #ffffff; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  padding: 10px; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  font-family: 'Arial', sans-serif;
}

.filter-group {
  margin-bottom: 10px;
}

.filter-group b {
  display: block;
  margin-bottom: 5px;
}

.search-bar {
  margin-bottom: 20px;
}

.items-wrapper {
  display: flex;
  background-color: white;
  margin: 1rem;
  flex-wrap: wrap;
}

.item-wrapper {
  background-color: lightgrey;
  border-radius: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  padding: 1rem;
  margin: 1rem;
  width: 20rem;

  text-align: left;
  transition: color 0.3s ease;
  cursor: pointer;
}

.item-wrapper:hover {
  background-color: darkgrey;
  color: white; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: lightgray;
  padding: 1.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-icons {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  margin-right: 50px;
}

.footer-icons a {
  margin: 0 10px;
  color: white;
}

.footer-icons a svg {
  font-size: 24px;
}